.select-payment-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 24px;
}

.select-payment-title {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}

.cards-container {
  display: flex;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  height: 140px;
  padding: 20px 12px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--mui-palette-secondary-dark);
}

.card:hover {
  border: 1px solid var(--mui-palette-primary-main);
  background: var(--mui-palette-primary-light);
}

.logo-container {
  display: flex;
  gap: 14px;
}
